!!! 5
%html
    %head>
        %meta{:charset => "utf-8"}/
        %meta{:'http-equiv' => "X-UA-Compatible", :content => "IE=edge,chrome=1"}/

        %title Review Site

        %meta{:name => "description", :content => ""}/
        %meta{:name => "viewport", :content => "width=device-width"}/

        %link{:href => "css/base.css", :rel => "stylesheet", :type => "text/css"}/
        %link{:href => "css/main.css", :rel => "stylesheet", :type => "text/css"}/

        %script{:src=> "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"}

    %body
        
        =self

        %footer
            %div.content
                %a{:href => 'https://github.com/jasonsavage', :target => '_blank'}
					github.com/jasonsavage
